#solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  gap: 5.75rem;
  background: var(--bg-color);
}

#solution header {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  max-width: 33rem;
  background: transparent;
}

#solution header h2 {
  color: var(--text-color);
}

#solution p {
  color: var(--second-text-color);
}

#solution strong {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

#solution .even-columns {
  gap: 2rem;
}

.card {
  background: var(--light-gray);
  box-shadow: rgba(58, 48, 40, 0.12) 0px 8px 24px;
  max-width: 20.25rem;
  min-height: 26rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border-bottom: 4px solid var(--primary-color);
}

.card span {
  display: flex;
  min-height: 8rem;
  align-items: end;
}

.card div {
  height: 100%;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card h3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.card p {
  padding-inline: 1.5rem;
  color: var(--second-text-color);
}

.card hr {
  height: 4px;
  background: var(--primary-color);
  width: 100%;
  border: none;
}

@media (width > 1280px) {
  #solution {
    padding-block: 7.5rem;
  }

  #solution header > span > h2 {
    font-size: var(--fs-sm);
    color: var(--primary-color);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}